---
---

.page-title {
    text-align: center;
    margin: 60px 0 20px;
}

.page-subtitle {
    text-align: center;
    margin: 0 0 60px;
}

.bottom-nav {
    text-align: center;
    margin-top: 60px;
}

.btn-huge {
    padding: 30px 0;
    margin-bottom: 20px;
}
