---
---

.page-title {
    text-align: center;
    margin: 60px 0;
}

.page-subtitle {
    text-align: center;
    margin: -40px 0 60px;
}

.bottom-nav {
    text-align: center;
    margin-top: 40px;
}

.btn-huge {
    padding: 30px 0;
    margin-bottom: 40px;
}
