---
---

$main-color: #ffbcb5;
$link-color: #ffefb4;

body {
    background-color: $main-color;
}

.bottom-nav {
    background-color: darken($main-color, 10%);

    .navbar-nav .nav-link {
        color: #000;
    }
}

.btn-secondary {
    background-color: $link-color;
    border-color: darken($link-color, 20%);
}

table.table thead.thead-default th {
    background-color: darken($main-color, 7%);
    border-bottom-color: darken($main-color, 7%);
}

table.table {
    th, td {
        border-top-color: darken($main-color, 7%);
    }
}

table.table tbody + tbody {
    border-top-color: darken($main-color, 7%);
}

.form-control {
    background-color: lighten($main-color, 12%);
}

.input-group-addon {
    background-color: darken($main-color, 2%);
}
