---
---


$white: #fdfdfd;
$red: #d72638;
$green: #1b998b;
$dark: #212d40;

body {
    background-color: $white;
    color: $dark;
}

.top-nav {
    .navbar-toggler {
        margin: .6rem;
    }

    .nav {
        background-color: $white;
        color: $red;
        border: 1px solid $dark;

        a.nav-link {
            color: $red;
        }
    }
}

.bottom-nav {
    background-color: lighten($red, 35%);
    color: $dark;

    .navbar-nav a.nav-link {
        color: $dark;
    }
}

.btn.btn-secondary {
    background-color: lighten($red, 40%);
    color: $dark;
    border-color: $red;

    &:hover {
        background-color: lighten($red, 30%);
        color: $dark;
        border-color: $red;
    }

    &:focus,
    &:active {
        background-color: lighten($red, 20%);
        color: $dark;
        border-color: $red;
    }

    &.disabled {
        opacity: .6;
    }
}

.table .thead-default th {
    background-color: lighten($green, 30%);
    border-bottom-color: lighten($green, 30%);
    color: $dark;
}

.popover {
    border-color: $red;
    padding: 0;

    .popover-title {
        background-color: lighten($red, 35%);
        border: none;
    }
}

.input-group-addon {
    background-color: lighten($red, 35%);
    border-color: $red;
}

.form-control {
    border-color: $red;
    box-shadow: inset 0 .05rem .4rem rgba(0, 0, 0, .2);

    &:hover,
    &:focus,
    &:active {
        border-color: darken($red, 20%);
    }
}

.fa.fa-ban,
.fa.fa-times {
    color: $red;
}

.fa.fa-check {
    color: $green;
}
