---
title: Objednať obed na týždeň
help:
    title: Pomoc pri objednávaní jedla
    content: >
        Môžete si objednať zvlášť jedlo na každý deň v týždni. Jedlo vám budeme doručovať budúci týždeň.
        Vyberte si z menu kliknutím na tlačidlo Pridať v príslušnom dni. Keď máte vybraté jedlo na všetky dni,
        ktoré chcete, ukončite a potvrďte svoj výber kliknutím na tlačidlo Potvrdiť.
---

<!-- ordering lunch for the whole week -->

<div id="food-week-container">
    <div class="row gap-bottom">
        <div class="col-xs text-xs-center">
            <a href="{{ site.github.url }}/food.html" class="btn btn-secondary btn-block btn-lg btn-huge"><i class="fa fa-ban"></i> Naspäť</a>
        </div>
    </div>
    <div class="row gap-bottom">
        <div class="col-xs">
            <div class="table-scroll">
                <table class="table">
                    <thead class="thead-default">
                        <tr>
                            <th>Deň</th>
                            <th>Jedlo</th>
                            <th>Cena</th>
                            <th>Zmazať jedlo</th>
                        </tr>
                    </thead>
                    <tbody v-for="(day, key) in selected">
                        {% raw %}
                        <tr>
                            <td :rowspan="1 + day.food.length" class="align-middle">{{ day.name }}</td>
                            <td>
                                <button class="btn btn-secondary" data-toggle="modal" data-target="#food-select-modal"
                                        @click="selectDay(key)">
                                    <i class="fa fa-plus"></i>
                                    Pridať jedlo
                                </button>
                            </td>
                            <td colspan="2" class="text-xs-center">
                                <em v-if="day.food.length === 0">
                                    Na tento deň nemáte vybrané žiadne jedlo.
                                </em>
                            </td>
                        </tr>
                        <tr v-for="food in day.food">
                            <td>{{ food.name }}</td>
                            <td>{{ food.amount * food.price | price }}&euro;</td>
                            <td>
                                <button class="btn btn-secondary btn-sm" @click="remove(food, key)">
                                    <i class="fa fa-trash"></i>
                                    Zmazať
                                </button>
                            </td>
                        </tr>
                        {% endraw %}
                    </tbody>
                    <tbody>
                        <tr>
                            <td>Sobota</td>
                            <td colspan="3" class="text-xs-center">
                                <em>
                                    V tento deň sa nevarí.
                                </em>
                            </td>
                        </tr>
                        <tr>
                            <td>Nedeľa</td>
                            <td colspan="3" class="text-xs-center">
                                <em>
                                    V tento deň sa nevarí.
                                </em>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td>
                                <span v-if="totalSelected > 0">Spolu</span>
                            </td>
                            <td>
                                {% raw %}
                                <span v-if="totalSelected > 0">{{ totalPrice | price }}&euro;</span>
                                {% endraw %}
                            </td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs text-xs-center hidden-sm-down">
            <div class="btn-group btn-group-lg">
                <a href="#food-week-container" class="btn btn-secondary disabled" v-if="totalSelected === 0">
                    <i class="fa fa-cutlery"></i>
                    Nemáte vybraný žiaden obed
                </a>
                <a href="{{ site.github.url }}/food-address-week.html" class="btn btn-secondary" id="food-day-submit-button" data-toggle="tooltip"
                   title="Týmto tlačidlom potvrdíte, že si chcete objednať vybrané jedlo na zajtra. Na ďalšej obrazovke budete môcť zadať vašu adresu."
                   v-show="totalSelected > 0" @click="saveSelection">
                    <i class="fa fa-cutlery"></i>
                    {% raw %}
                    Potvrdiť a objednať za {{ totalPrice | price }}&euro;
                    {% endraw %}
                </a>
                <a href="{{ site.github.url }}/food.html" class="btn btn-secondary" data-toggle="tooltip"
                   title="Týmto tlačidlom sa vrátite späť.">
                    <i class="fa fa-ban"></i>
                    Zrušiť
                </a>
            </div>
        </div>
        <div class="col-xs text-xs-center hidden-md-up">
            <a href="#food-week-container" class="btn btn-secondary disabled" v-if="totalSelected === 0">
                <i class="fa fa-cutlery"></i>
                Nemáte vybraný žiaden obed
            </a>
            <a href="{{ site.github.url }}/food-address-week.html" class="btn btn-secondary" id="food-day-submit-button" data-toggle="tooltip"
               title="Týmto tlačidlom potvrdíte, že si chcete objednať vybrané jedlo na zajtra. Na ďalšej obrazovke budete môcť zadať vašu adresu."
               v-show="totalSelected > 0" @click="saveSelection">
                <i class="fa fa-cutlery"></i>
                {% raw %}
                Potvrdiť a objednať za {{ totalPrice | price }}&euro;
                {% endraw %}
            </a>
            <a href="{{ site.github.url }}/food.html" class="btn btn-secondary" data-toggle="tooltip"
               title="Týmto tlačidlom sa vrátite späť.">
                <i class="fa fa-ban"></i>
                Zrušiť
            </a>
        </div>
    </div>

    <div class="modal fade" id="food-select-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    {% raw %}
                    <h4>Jedálny lístok na {{ selectedDayName }}</h4>
                    {% endraw %}
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row gap-bottom">
                            <div class="col-xs">
                                Vyberte si z našej dennej ponuky kliknutím na obrázok.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <a href="#" data-dismiss="modal" @click="addFromMenu(0)">
                                    <figure class="figure">
                                        <img src="{{ site.github.url }}/img/soup.jpg" alt="Slepačí vývar"
                                             class="figure-img img-fluid">
                                        <figcaption class="figure-caption">Slepačí vývar</figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <a href="#" data-dismiss="modal" @click="addFromMenu(1)">
                                    <figure class="figure">
                                        <img src="{{ site.github.url }}/img/meat.jpg" alt="Kuracie na prírodno s ryžou"
                                             class="figure-img img-fluid">
                                        <figcaption class="figure-caption">Kuracie na prírodno s ryžou</figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <a href="#" data-dismiss="modal" @click="addFromMenu(2)">
                                    <figure class="figure">
                                        <img src="{{ site.github.url }}/img/pancakes.jpg" alt="Palacinky"
                                             class="figure-img img-fluid">
                                        <figcaption class="figure-caption">Palacinky</figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ site.github.url }}/js/food-week.js"></script>
