---
title: Nákup potravín
help:
    title: Nakúpime a donesieme vám potraviny
    content: >
        Ak nevládzete zájsť do obchodu, nechajte to na nás. Iba nám napíšte svoj zoznam potravín
        a my vám ich nakúpime a prinesieme. Vyhľadajte svoje potraviny v zozname a pridajte si ich
        do košíka. Keď máte vybraté všetky potrebné potraviny, stlačte tlačidlo Potvrdiť.
---

<!-- page for ordering groceries -->

<div id="groceries-container">
    <div class="row gap-bottom">
        <div class="col-xs text-xs-center">
            <a href="{{ site.github.url }}/index.html" class="btn btn-secondary">Späť</a>
        </div>
    </div>

    <div class="row gap-bottom">
        <div class="col-xs">
            <h2>Vyhľadávanie</h2>
            <div class="input-group input-group-lg" data-toggle="tooltip"
                 title="Zadajte názov potraviny. List potravín je automaticky filtrovaný.">
                <label class="input-group-addon" for="groceries-search-input">
                    <i class="fa fa-search"></i>
                    Prehľadávať potraviny
                </label>
                <input type="text" class="form-control" id="groceries-search-input" placeholder="Jablko"
                       v-model="filter">
            </div>
        </div>
    </div>
    <div class="row gap-bottom">
        <div class="col-xs">
            <div class="table-scroll">
                <table class="table">
                    <thead class="thead-default">
                        <tr>
                            <th>Názov</th>
                            <th>Cena</th>
                            <th>Pridať do košíka</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% raw %}
                        <tr v-for="product in filteredShop">
                            <td>{{ product.name }}</td>
                            <td>{{ product.price }}&euro;</td>
                            <td>
                                <button class="btn btn-secondary btn-sm" @click="addToCart(product)">
                                    <i class="fa fa-shopping-cart"></i>
                                    Pridať
                                </button>
                                <span v-if="addedToCart === product">
                                    <i class="fa fa-check"></i>
                                    Pridané do košíka na spodu stránky
                                </span>
                            </td>
                        </tr>
                        {% endraw %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row gap-bottom">
        <div class="col-xs">
            <h2>Košík</h2>
            <div class="table-scroll">
                <table class="table">
                    {% raw %}
                    <thead class="thead-default">
                        <tr>
                            <th>Názov</th>
                            <th>Množstvo</th>
                            <th>Cena</th>
                            <th>Odstrániť z košíka</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="shoppingCart.length === 0">
                            <td colspan="4" class="text-xs-center">
                                <em>Váš košík je prázdny.</em>
                            </td>
                        </tr>
                        <tr v-for="product in shoppingCart">
                            <td>{{ product.name }}</td>
                            <td>
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon">&times;</span>
                                    <input class="form-control short-input" type="number" v-model="product.amount" min="1">
                                </div>
                            </td>
                            <td>{{ product.price * product.amount | price }}&euro;</td>
                            <td>
                                <button class="btn btn-secondary btn-sm" @click="removeFromCart(product)">
                                    <i class="fa fa-trash"></i>
                                    Odstrániť
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot v-if="shoppingCart.length > 0">
                        <tr>
                            <td colspan="2">Celková cena</td>
                            <td>{{ totalPrice | price }}&euro;</td>
                            <td></td>
                        </tr>
                    </tfoot>
                    {% endraw %}
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs text-xs-center hidden-sm-down">
            <div class="btn-group btn-group-lg">
                {% raw %}
                <a href="#groceries-search-input" class="btn btn-primary disabled"
                   v-if="shoppingCart.length === 0">
                    <i class="fa fa-shopping-cart"></i>
                    Váš košík je prázdny
                </a>
                <a href="#" class="btn btn-primary" id="groceries-submit-button" data-toggle="tooltip"
                   title="Týmto tlačidlom potvrdíte, že máte v košíku všetky potraviny, ktoré si chcete objednať ku vám domov."
                   v-show="shoppingCart.length > 0">
                    <i class="fa fa-check"></i>
                    Potvrdiť a objednať za {{ totalPrice | price }}&euro;
                </a>
                {% endraw %}
                <a href="{{ site.github.url }}/index.html" class="btn btn-secondary" data-toggle="tooltip"
                   title="Týmto tlačidlom sa vrátite späť na domovskú obrazovku.">
                    <i class="fa fa-times"></i>
                    Zrušiť
                </a>
            </div>
        </div>
        <div class="col-xs text-xs-center hidden-md-up">
            {% raw %}
            <a href="#groceries-search-input" class="btn btn-primary disabled"
               v-if="shoppingCart.length === 0">
                <i class="fa fa-shopping-cart"></i>
                Váš košík je prázdny
            </a>
            <a href="#" class="btn btn-primary" id="groceries-submit-button" data-toggle="tooltip"
               title="Týmto tlačidlom potvrdíte, že máte v košíku všetky potraviny, ktoré si chcete objednať ku vám domov."
               v-show="shoppingCart.length > 0">
                <i class="fa fa-check"></i>
                Potvrdiť a objednať za {{ totalPrice | price }}&euro;
            </a>
            {% endraw %}
            <a href="{{ site.github.url }}/index.html" class="btn btn-secondary" data-toggle="tooltip"
               title="Týmto tlačidlom sa vrátite späť na domovskú obrazovku.">
                <i class="fa fa-times"></i>
                Zrušiť
            </a>
        </div>
    </div>
</div>

<script src="{{ site.github.url }}/js/groceries.js"></script>
