---
title: Objednávka liekov
help:
    title: Nakúpime a donesieme Vám lieky
    content: >
        Ak nevládzete zájsť do lekárne, nechajte to na nás. Iba nám napíšte svoj zoznam liekov
        a my Vám ich vyzdvihneme a prinesieme. Vyhľadajte svoje lieky v zozname a pridajte si ich
        do košíka. Keď máte vybraté všetky potrebné lieky, stlačte tlačidlo Potvrdiť.
---

<!-- page for ordering medicine -->

<div id="medicine-container">
    <div class="row gap-bottom">
        <div class="col-xs text-xs-center">
            <a href="{{ site.github.url }}/doctor.html" class="btn btn-secondary btn-block btn-lg btn-huge"><i class="fa fa-ban"></i> Naspäť</a>
        </div>
    </div>

    <div class="row gap-bottom">
        <div class="col-xs">
            <h2>Vyhľadávanie</h2>
            <div class="input-group input-group-lg" data-toggle="tooltip"
                 title="Zadajte názov lieku. Zoznam liekov je automaticky filtrovaný.">
                <label class="input-group-addon" for="medicine-search-input">
                    <i class="fa fa-search"></i>
                    <span class="hidden-sm-down">Prehľadávať lieky</span>
                </label>
                <input type="text" class="form-control" v-model="filter" id="medicine-search-input" placeholder="Levocetirzín dihydrochlorid">
            </div>
        </div>
    </div>

    <div class="row gap-bottom">
        <div class="col-xs">
            <div class="table-scroll">
                <table class="table">
                    <thead class="thead-default">
                        <tr>
                            <th>Názov</th>
                            <th>Doplatok</th>
                            <th>Pridať do košíka</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% raw %}
                        <tr v-for="product in filteredShop">
                            <td>{{ product.name }}</td>
                            <td>{{ product.price | price }}&euro;</td>
                            <td>
                                <button class="btn btn-secondary btn-sm" @click="addToCart(product)">
                                    <i class="fa fa-shopping-cart"></i>
                                    Pridať
                                </button>
                                <span v-if="addedToCart === product">
                                    <i class="fa fa-check"></i>
                                    Pridané do košíka na spodu stránky
                                </span>
                            </td>
                        </tr>
                    {% endraw %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row gap-bottom">
        <div class="col-xs">
            <h2>Košík</h2>
            <div class="table-scroll">
                <table class="table">
                    {% raw %}
                    <thead class="thead-default">
                        <tr>
                            <th>Názov</th>
                            <th>Doplatok</th>
                            <th>Odstrániť z košíka</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="shoppingCart.length === 0">
                            <td colspan="3" class="text-xs-center">
                                <em>Váš košík je prázdny.</em>
                            </td>
                        </tr>
                        <tr v-for="product in shoppingCart">
                            <td>{{ product.name }}</td>
                            <td>{{ product.price * product.amount | price }}&euro;</td>
                            <td>
                                <button class="btn btn-secondary btn-sm" @click="removeFromCart(product)">
                                    <i class="fa fa-trash"></i>
                                    Odstrániť
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot v-if="shoppingCart.length > 0">
                        <tr>
                            <td>Celkový doplatok</td>
                            <td>{{ totalPrice | price }}&euro;</td>
                            <td></td>
                        </tr>
                    </tfoot>
                    {% endraw %}
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs text-xs-center hidden-sm-down">
            <div class="btn-group btn-group-lg">
                <a href="#medicine-search-input" class="btn btn-secondary disabled"
                   v-if="shoppingCart.length === 0">
                    <i class="fa fa-shopping-cart"></i>
                    Váš košík je prázdny
                </a>
                <a href="{{ site.github.url }}/medicine-address.html" class="btn btn-secondary" id="medicine-submit-button" data-toggle="tooltip"
                   title="Týmto tlačidlom potvrdíte, že máte v košíku všetky lieky, ktoré si chcete objednať ku vám domov."
                   v-show="shoppingCart.length > 0" @click="saveSelection">
                    <i class="fa fa-check"></i>
                    {% raw %}
                    Potvrdiť a objednať za {{ totalPrice | price }}&euro;
                    {% endraw %}
                </a>
                <a href="{{ site.github.url }}/index.html" class="btn btn-secondary" data-toggle="tooltip"
                   title="Týmto tlačidlom sa vrátite späť na domovskú obrazovku.">
                    <i class="fa fa-times"></i>
                    Zrušiť
                </a>
            </div>
        </div>
        <div class="col-xs text-xs-center hidden-md-up">
            <a href="#medicine-search-input" class="btn btn-secondary disabled"
               v-if="shoppingCart.length === 0">
                <i class="fa fa-shopping-cart"></i>
                Váš košík je prázdny
            </a>
            <a href="{{ site.github.url }}/medicine-address.html" class="btn btn-secondary" id="medicine-submit-button" data-toggle="tooltip"
               title="Týmto tlačidlom potvrdíte, že máte v košíku všetky lieky, ktoré si chcete objednať ku vám domov."
               v-show="shoppingCart.length > 0" @click="saveSelection">
                <i class="fa fa-check"></i>
                {% raw %}
                Potvrdiť a objednať za {{ totalPrice | price }}&euro;
                {% endraw %}
            </a>
            <a href="{{ site.github.url }}/index.html" class="btn btn-secondary" data-toggle="tooltip"
               title="Týmto tlačidlom sa vrátite späť na domovskú obrazovku.">
                <i class="fa fa-times"></i>
                Zrušiť
            </a>
        </div>
    </div>
</div>

<script src="{{ site.github.url }}/js/medicine.js"></script>
