<!-- layout for every page in the project -->
<!-- the contents are placed in { content } -->

<!doctype html>
<html lang="sk">
    <head>
        <!-- meta data -->
        <title>{{ page.title }}</title>

        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- css -->
        <link rel="stylesheet" href="{{ site.github.url }}/css/bootstrap.css">
        <link rel="stylesheet" href="{{ site.github.url }}/css/font-awesome.css">
        <link rel="stylesheet" href="{{ site.github.url }}/css/global.css">
        <link rel="stylesheet" href="{{ site.github.url }}/css/theme.css">

        <!-- js -->
        <script src="{{ site.github.url }}/js/jquery.js"></script>
        <script src="{{ site.github.url }}/js/tether.js"></script>
        <script src="{{ site.github.url }}/js/bootstrap.js"></script>
        <script src="{{ site.github.url }}/js/vue.js"></script>
        <script src="{{ site.github.url }}/js/global.js"></script>
    </head>
    <body>
        <div class="container" id="page-container">
            <nav class="navbar navbar-fixed-top navbar-light top-nav hidden-md-up">
                <button class="navbar-toggler btn btn-secondary" data-toggle="collapse" data-target="#top-nav"></button>
                <div class="collapse" id="top-nav">
                    <div class="nav nav-pills nav-stacked">
                        {% if page.homeLink %}
                        <a href="{{ site.github.url }}/index.html" class="nav-item nav-link">
                            <i class="fa fa-home"></i>
                            Domov
                        </a>
                        {% endif %}
                        <a href="{{ site.github.url }}/food.html" class="nav-item nav-link">
                            <i class="fa fa-cutlery"></i>
                            Jedlo
                        </a>
                        <a href="{{ site.github.url }}/groceries.html" class="nav-item nav-link">
                            <i class="fa fa-shopping-basket"></i>
                            Potraviny
                        </a>
                        <a href="{{ site.github.url }}/transport.html" class="nav-item nav-link">
                            <i class="fa fa-car"></i>
                            Odvoz
                        </a>
                        <a href="{{ site.github.url }}/household.html" class="nav-item nav-link">
                            <i class="fa fa-home"></i>
                            Upratať
                        </a>
                        <a href="{{ site.github.url }}/repair.html" class="nav-item nav-link">
                            <i class="fa fa-wrench"></i>
                            Opraviť
                        </a>
                        <a href="{{ site.github.url }}/doctor.html" class="nav-item nav-link">
                            <i class="fa fa-stethoscope"></i>
                            Lekár / Lieky
                        </a>
                        <a href="{{ site.github.url }}/office.html" class="nav-item nav-link">
                            <i class="fa fa-file-text"></i>
                            Úrady
                        </a>
                    </div>
                </div>
            </nav>

            <div class="row">
                <div class="col-xs">
                    <h1 class="page-title">{{ page.title }}</h1>
                </div>
            </div>

            {{ content }}
        </div>

        <nav class="navbar navbar-fixed-bottom navbar-light bottom-nav">
            <div class="nav navbar-nav">
                <a href="#" class="nav-item nav-link" data-toggle="popover" data-placement="top" data-trigger="focus"
                   title="{{ page.help.title }}"
                   data-content="{{ page.help.content }}">
                    <i class="fa fa-question-circle"></i>
                    Pomoc
                </a>
                <a href="#" class="nav-item nav-link" id="text-resize-popover" data-toggle="popover" data-placement="top"
                   title="Zmeniť veľkosť textu" data-html="true" data-trigger="focus"
                   data-content="<div class='btn-group'><button class='btn btn-secondary' id='text-plus'><i class='fa fa-search-plus'></i> Zväčšiť</button><button class='btn btn-secondary' id='text-minus'><i class='fa fa-search-minus'></i> Zmenšiť</button></div>">
                    <i class="fa fa-text-height"></i>
                    Veľkosť textu
                </a>
                <a href="{{ site.github.url }}/about.html" class="nav-item nav-link">
                    <i class="fa fa-info-circle"></i>
                    O nás
                </a>
                {% if page.homeLink %}
                <a href="{{ site.github.url }}/index.html" class="nav-item nav-link">
                    <i class="fa fa-home"></i>
                    Domovská obrazovka
                </a>
                {% endif %}
            </div>
        </nav>
    </body>
</html>
